<!DOCTYPE html>
    <html>
        <head>
            <title><%= @power.name %></title>
        </head>

        <body>
            <h1><%= @power.name %></h1>
            <h3>AKA: <%= @power.description %></h3>
            
        </body>