<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>The Power!</h1>
    <%= @power.name %>
    <%= @power.description %><br><br>
    <a href="/powers">Powers</a>
    <a href="/heroines">Heroines</a>
    <a href="/heroines/new">Create Heroine</a>
</body>
</html>