<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= heroine.super_name %>
    </li>
    <li><a href="/heroines/show/<%=heroine.id%>"><%=heroine.name%></a></li><br>
    <br>
  <% end %>
</ul>
