<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= heroine.super_name %>
    </li>
    <br>
  <% end %>
</ul>

<form method='post' action='/createheroine'>
Heroine Name <input name = "name" type = "text">
Supername <input name = "name" type = "text">
Power ID <input name = "power" type = "text">
<input type = "submit" value = "Add Heroine">
</form>
