<head>
  <title>All Heroines</title>
  <style>
    a{
       text-decoration: none;
    }
    .title{
      grid-column: 2;
      grid-row: 1;
      text-align: center;
      color: blue;
        }
    .big{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .main{
      grid-column: 2;
      grid-row: 2;
      border: 1px solid black;
      text-align: center;
    }
    .each {
      grid-column: 2;
      grid-row: 2;
    }
  </style>
</head>
<body>
<div class = "big">
  <div class = "title">
    <h2>All Heroines</h2>
  </div>
  <div class = "main">
    <% @heroines.each do |heroine| %>
      <div class = "each">
        <a class = "button" href = "/heroines/<%=heroine.id%>"><%=heroine.super_name%></a>
      </div>
      <br>
    <% end %>
  </div>
</div>
</body>







