<h2>All Heroines</h2>

<h4>Search By Superpower</h4>
  <form method="get" action="/search">
    <input type="text" name="super_name"><input type="submit" name="submit">
  </form>
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to("#{heroine.super_name}", heroine) %>
    </li>
    <br>
  <% end %>
</ul>
